<?xml version="1.0" encoding="UTF-8"?>
<openbox_menu>
    <menu id="root-menu" label="OpenBox 3"> 
	    <separator/>
	    <item label="Terminal"> <action name="Execute">
		<execute>st</execute>
            </action> </item>
	    <item label="Firefox"> <action name="Execute">
		<execute>firefox</execute>
            </action> </item>
	    <item label="Newsboat"> <action name="Execute">
		<execute>st -e newsboat</execute>
	    </action> </item>
	    <separator/>
	    <item label="OSRS"> <action name="Execute">
		<execute>flatpak run com.jagex.Launcher</execute>
	    </action </item>
	    <item label="Steam"> <action name="Execute">
		<execute>steam</execute>
            </action> </item>
	    <item label="Discord"> <action name="Execute">
		<execute>Discord</execute>
	    </action> </item>
	    <item label="Lutris"> <action name="Execute">
		<execute>lutris</execute>
            </action> </item>
	    <separator/>
            <item label="Text Editor"> <action name="Execute">
		<execute>st -e nvim</execute>
            </action> </item>
            <item label="File Manager"> <action name="Execute">
		<execute>Thunar</execute>
            </action> </item> 
            <item label="Qbittorrent"> <action name="Execute">
		<execute>qbittorrent</execute>
            </action> </item>
            <item label="Music Player"> <action name="Execute">
		<execute>st -f "Iosevka-18" -e mocp</execute>
            </action> </item>
	    <item label="Pavucontrol"> <action name="Execute">
		<execute>pavucontrol</execute>
	    </action> </item>
            <item label="Task Manager"> <action name="Execute">
		<execute>st -g 180x40 -f "Iosevka-13" -e htop</execute>
            </action> </item>
            <item label="Calculator"> <action name="Execute">
	        <execute>st -g 50x20 -e bc</execute>
            </action> </item>
	<separator/>
        <menu id="40" label="Openbox">
            <menu id="client-list-menu"/>
	    <menu id="41" label="Customization"> 
                <item label="obconf"> <action name="Execute">
                    <execute>obconf</execute>
                </action> </item>
                <item label="tint2conf"> <action name="Execute">
                    <execute>tint2conf</execute>
                </action> </item>
    </menu>

    </menu>
        <separator/>
	<item label="Shutdown"> <action name="Execute">
	    <execute>st -g 30x3 -f "Iosevka-14" -e sudo poweroff</execute>
	</action> </item>
	<item label="Reboot"> <action name="Execute">
	    <execute>st -g 30x3 -f "Iosevka-14" -e sudo reboot</execute>
	</action> </item>
	<item label="Kill X"> <action name="Execute">
	    <execute>pkill openbox</execute>
	</action> </item>
	<separator/>
</openbox_menu>
